//colors
$black: #000000;
$white: #ffffff;
$black-1: #21232c;
$black-title: #1b1d27;
$white-title: #ffffff;
$green: #009688;
$silver: #909090;
$gold: #c09b4d;
$royal: #5bc0de;

//fonts
$font-family: 'Lato', sans-serif;

//media queries
$break-small: 700px;